*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}
ul{
    list-style: none;
}
header{
    background-color: #0A22F4;
    height: 250px;
}
.container{
    max-width: 1920px;
    width: 100%;
}
.header{
    width: 1475px;
    /* display: flex;
    justify-content: space-between; */
    
}
a >img {
    width: 97px;
    height: 55px;
    margin-top: 40px;
}
nav, nav ul, li {
    display: flex;
}
.contact{
    width: 160px;
    height: 55px;
    background-color: #FFFFFF;
    color: #171717;
    font-weight: bold;
    padding: 18px;   
}